<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
</head>
<body>
<div class="container">
    <header>
        <h2>Mis Series</h2>
        <nav>
            <a href="{{ url_for('add_series') }}">Añadir Series</a>
            <a href="{{ url_for('logout_function') }}">Cerrar Sesión</a>
        </nav>
    </header>

    <section class="series-section">
        <h3>Series que me gustarían ver</h3>
        <ul class="series-list">
            {% for serie in series['series_por_ver'] %}
                <li class="series-item">
                    <strong>Nombre: </strong> {{ serie[0] }} <br>
                    <strong>Sinopsis: </strong>{{ serie[1] }} <br>
                    <strong>Puntuación: </strong> {{ serie[2] }}/10 <br>
                    <strong>Género: </strong> {{ serie[3] }} <br>
                    <strong>Fecha de estreno: </strong>{{ serie[4] }} <br>
                    <strong>Capítulos: </strong> {{ serie[5] }}<br>
                    <strong>Duración: </strong>{{ serie[6] }} minutos<br>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section class="series-section">
        <h3>Series que estoy viendo</h3>
        <ul class="series-list">
            {% for serie in series['viendo'] %}
                <li class="series-item">
                    <strong>Nombre: </strong> {{ serie[0] }} <br>
                    <strong>Sinopsis: </strong>{{ serie[1] }} <br>
                    <strong>Puntuación: </strong> {{ serie[2] }}/10 <br>
                    <strong>Género: </strong> {{ serie[3] }} <br>
                    <strong>Fecha de estreno: </strong>{{ serie[4] }} <br>
                    <strong>Capítulos: </strong> {{ serie[5] }}<br>
                    <strong>Duración: </strong>{{ serie[6] }} minutos<br>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section class="series-section">
        <h3>Series que he visto</h3>
        <ul class="series-list">
            {% for serie in series['series_vistas'] %}
                <li class="series-item">
                    <strong>Nombre: </strong> {{ serie[0] }} <br>
                    <strong>Sinopsis: </strong>{{ serie[1] }} <br>
                    <strong>Puntuación: </strong> {{ serie[2] }}/10 <br>
                    <strong>Género: </strong> {{ serie[3] }} <br>
                    <strong>Fecha de estreno: </strong>{{ serie[4] }} <br>
                    <strong>Capítulos: </strong> {{ serie[5] }}<br>
                    <strong>Duración: </strong>{{ serie[6] }} minutos<br>
                </li>
            {% endfor %}
        </ul>
    </section>
</div>
</body>
</html>